{{#each artist}}
<div class="artists">
    <div class="artistImage">
        <img src="{{this.url}}">
    </div>
    <div class="artistInfo">
        <div class="artistTitle">
            {{this.name}}
        </div>
        <div class="artistDesc">
            {{this.about}}
        </div>
    </div>
</div>
{{/each}}

{{!-- TEST DATA
<div class="artist">
    <div class="artistImage">
        <img src="https://randomuser.me/api/portraits/med/men/87.jpg">
    </div>
    <div class="artistInfo">
        <div class="artistTitle">
            Barot Bellingham
        </div>
        <div class="artistDesc">
            Royal Academy of Painting and Sculpture
        </div>
    </div>
</div> --}}